html,
body {
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

.body-box {
  min-height: 100vh;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
  display: flex;
  padding: 80px 0;
  justify-content: center;
  //   align-items: center;
  @media (max-width: 427px) {
    padding: 55px 0;
  }

  &:before {
    z-index: 1;
    opacity: 0.4;
    content: "";
    background-image: url(../images/index.png), url(../images/index2.png);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .img-box {
    text-align: center;
    padding-bottom: 24px;
    img {
      height: 130px;
      @media (max-width: 427px) {
        height: 90px;
      }
    }
  }
  .content {
    width: 20%;
    @media (max-width: 1020px) {
      width: 90%;
    }
    .text_box {
      padding-bottom: 16px;
      margin-bottom: 40px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.5;
        width: 75%;
        height: 2px;
        background: linear-gradient(135deg, #ffffff20, #fff, #ffffff20);
      }
      .name {
        font-size: 3rem;
        color: #fff;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
        @media (max-width: 427px) {
          font-size: 22px;
        }
      }
      .sub_name {
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        @media (max-width: 427px) {
          font-size: 16px;
        }
      }
    }
    .contact {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 24px;
      a {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        min-width: 200px;
        transition: 0.3s ease;
        color: #fff;
        padding: 24px;
        border-radius: 8px;
        border: 1px solid #ffffff36;
        position: relative;
        font-size: 24px;
        background-color: rgba(255, 255, 255, 0.063);
        backdrop-filter: blur(10px);
        overflow: hidden;
        z-index: 1;

        span {
          display: block;
        }
        &:hover {
          box-shadow: 0 4px 15px rgba(255, 255, 255, 0.338);
          transform: translateY(-10px);
          i {
            top: 50%;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
            transform: scale(1.2) translateY(-50%);
          }
          &::after {
            transform: scale(5) translate(-25px, 8px) rotate(0)
              translateY(-10px);
            width: 100%;
          }
        }
        i {
          position: absolute;
          left: 20px;
          top: 58%;
          transform: translateY(-50%);
          font-size: 30px;
          transition: 0.3s ease;
          @media (max-width: 427px) {
            font-size: 1.5rem;
          }
        }

        &::after {
          z-index: -1;
          content: "";
          position: absolute;
          top: -20px;
          left: 0;
          width: 23%;
          height: 140%;
          background-color: rgba(255, 255, 255, 0.289);
          border-radius: 8px;
          transition: 0.3s ease;
          border-radius: 50%;
          transform: translate(-25px, 8px) rotate(55deg);
        }
        &.facebook-link {
          &::after {
            background: linear-gradient(135deg, #3b5998, #8b9dc3);
          }
        }
        &.telegram-link {
          &::after {
            background: linear-gradient(135deg, #0088cc, #00bfff);
          }
        }
        &.twitter-link {
          &::after {
            background: linear-gradient(135deg, #1da1f2, #a0d3e8);
          }
        }
        &.instagram-link {
          &::after {
            background: linear-gradient(135deg, #e1306c, #fcb045);
          }
        }
        &.linkedin-link {
          &::after {
            background: linear-gradient(135deg, #0077b5, #00a0dc);
          }
        }
        &.whatsapp-link {
          &::after {
            background: linear-gradient(135deg, #25d366, #128c7e);
          }
        }
        &.location-link {
          &::after {
            background: linear-gradient(135deg, #ff5722, #ff8a65);
          }
        }
        @media (max-width: 427px) {
          font-size: 18px;
          width: 100%;
        }
        @media (max-width: 327px) {
          font-size: 13px;
          &::after {
            transform: translate(-25px, 8px) rotate(3deg);
            width: 29%;
          }
        }
      }
    }
  }
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
@-moz-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px;
  }
}
@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
@-ms-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
